---
import ArrowRight from "@tabler/icons/outline/arrow-right.svg";
import CalendarWeek from "@tabler/icons/outline/calendar-week.svg";
import MapPin from "@tabler/icons/outline/map-pin.svg";
import type { CollectionEntry } from "astro:content";
import Badge from "../Badge.astro";
import ArrowNarrowRight from "@tabler/icons/outline/arrow-narrow-right.svg";

type Props = CollectionEntry<"minutes">;
const { data, id } = Astro.props;
const formatType = (type: string) => {
  if (type === "agm") return "AGM";
  return type.charAt(0).toUpperCase() + type.slice(1).replace("-", " ");
};
---

<article class="split-card space-y-4">
  <div class="flex items-center justify-between">
    <div
      class="flex items-center gap-1.5 font-mono text-sm text-muted-foreground"
    >
      <CalendarWeek class="size-4 text-primary/70" />
      <time datetime={data.pubDate.toISOString()}>
        {
          data.pubDate.toLocaleDateString(undefined, {
            year: "numeric",
            month: "short",
            day: "numeric",
          })
        }
      </time>
    </div>
    <Badge
      variant={data.type === "agm" ? "default" : "outline"}
      size="xs"
      class="font-mono text-xs uppercase tracking-widest"
    >
      {formatType(data.type)}
    </Badge>
  </div>

  <div class="space-y-3">
    <h3
      class="font-sans split-target text-2xl md:text-3xl font-medium leading-snug"
    >
      {data.title}
    </h3>

    <div class="flex flex-row items-center justify-between mt-4">
      <span
        class="flex items-center gap-1.5 font-mono text-sm text-muted-foreground"
      >
        <MapPin class="size-4 text-primary/70" />
        {data.location}
      </span>
      <a
        class="font-mono text-xs uppercase tracking-widest flex flex-row gap-2 items-center hover:text-primary transition-colors"
        href={`/minutes/${id}/`}
      >
        Read minutes <ArrowNarrowRight class="w-4 h-4" />
      </a>
    </div>
  </div>
</article>
<script>
  import { initCardSplitTextAnimation } from "@/utils/animations/cards-split-text-animation";

  if (typeof window !== "undefined") {
    window.addEventListener("load", () => {
      if (!document.querySelector("[data-manual-card-anim]")) {
        initCardSplitTextAnimation();
      }
    });
  }
</script>